<div class="row">
  <div class="col s4">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/descarga.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Garen<i class="material-icons right">more_vert</i></span>
          <p><a href="#">link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>
            Garen, un orgulloso y noble guerrero, lucha en las filas de la Vanguardia Impertérrita. Es querido entre sus compañeros y
            respetado por sus enemigos, y no solo por ser vástago de la prestigiosa familia Crownguard, responsable de la defensa de
            Demacia y sus ideales. Ataviado con una armadura resistente a la magia y empuñando una poderosa espada, Garen siempre está
            listo para enfrentarse a los magos y hechiceros en el campo de batalla como un auténtico torbellino de virtuoso acero.
          </p>
        </div>
      </div>
  </div>
</div>
